/* Pagina de Inicio */

*{
    color:black;
    font-family: 'Fredoka', sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;
}

h2{
    color:black;
    font-weight:900;
    font-family: "Fredoka", sans-serif; font-style: normal; font-variant: normal; line-height: 30px;
}

/* Estilo Navbar */
nav {
    color:white;
    background-color: #2A9D8F;
}
nav .bi{
    color:white;
}

/* Estilo Background */
body {
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); min-height: 100vh;
}

/* Estilo del fromulario */
#cardLogIn {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
#passwordHelpBlock{
    color:rgb(49, 49, 49)
}

/* Ojo hide and show password */
form i {
    margin-left: 23rem;
    margin-top: 2.5rem;
    z-index: 200;
    position: absolute;
    font-size: large;
    font-weight: bolder;
    color: #89078d;
    cursor: pointer;}


/* Estilo del botón de inicio de sesión */
#botonInicioSesion{
    text-decoration: none;
    position: relative;
    top: 3%;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: black;
    width: 6em;
    height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

#botonInicioSesion:hover{
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }

#botonInicioSesion:before{
    content: '';
 position: absolute;
 top: -5px;
 left: -5px;
 right: -5px;
 bottom: -5px;
 z-index: -1;
 background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 background-size: 400%;
 border-radius: 35px;
 transition: 1s;
}

#botonInicioSesion:hover::before{
    filter: blur(20px);
}

#botonInicioSesion:active{
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}

/* Estilo del FOOTER */
footer {
    background-color: #279286;
    height: 3rem;
    color: white;
}
.linkf{
    color: #ffeb3b;
}