/* Pagina de Inicio */

/* Estilo para toda la página tipo de fuente y color */
*{
    color: black;
    font-family: "Patrick Hand"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;
}

nav .bi{
    color: white;
}

h1{
    color:black;
    font-family: "Fredoka", sans-serif; font-style: normal; font-variant: normal; line-height: 30px;
}

p{
    text-align: justify;
}

/* Estilo Navbar */
nav {
    background-color: #2A9D8F;
}

/* Estilo Background */

body {
    background-color: #9B46A0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%239B46A0'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* Estilo del card */
#cardContigo{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
#cardContigo:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* Estilo apartado Enfoque */
#Enfoque1, #Enfoque2, #Enfoque3, #Enfoque4{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

#Enfoque1:hover, #Enfoque2:hover, #Enfoque3:hover, #Enfoque4:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

#Enfoque1:hover .efectoColor{
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}



/* #iconoEnfoque1:hover, #iconoEnfoque2:hover, #iconoEnfoque3:hover, #iconoEnfoque4:hover{
    color: #ffeb3b
} */

/* Estilo apartado Equipo */
#Equipo1, #Equipo2, #Equipo3, #Equipo4, #Equipo5, #Equipo6{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

h5{
    text-align: center;
}

#Equipo3{
height: 100px;
}

#eduardo{
position: absolute;
top: -50%;
transform: translateX(-50%);
width: 150px;
height: 150px;
overflow: hidden;
}

/* Estilo del FOOTER */
footer {
    background-color: #279286;
    height: 3rem;
    color: white;
}
#linkf{
    color: #ffeb3b;
}