nav {
    background-color: #2A9D8F;
}


/* Estilo del FOOTER */
footer {
    background-color: #279286;
    color: white;
}
.linkf{
    color: #ffeb3b;
}

.footer-padding{
	
	padding-top:10px;
	
}


