/*PAGINA RECURSOS*/

/* Estilo para toda la página tipo de fuente y color */
*{
    color:black;
    font-family: 'Fredoka', sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;
}

h2{
    color:black;
    font-weight:900;
    font-family: "Fredoka", sans-serif; font-style: normal; font-variant: normal; line-height: 30px;
}

/* Estilo Navbar */
nav {
    color:white;
    background-color: #2A9D8F;
}
nav .bi{
    color:white;
}

/* Estilo Background */
body {
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); min-height: 100vh;
}

#cardPublic{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

#cardButons{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

/*COLOR TABLA*/
#color{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

th, td{
    color:black;

}



/* Estilo del FOOTER */
footer {
    background-color: #279286;
    height: 3rem;
    color: white;
}

.linkf{
    color: #ffeb3b;
}